/node_modules
/public/hot
/public/storage
/publi/images/admins
/publi/images/customers
/publi/images/company
/publi/images/drivers
/publi/images/trucks
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
