/node_modules
/public/hot
/public/storage
/public/images/admins
/public/images/blogs
/public/images/customers
/public/images/company
/public/images/drivers
/public/images/trucks
/public/images/truck
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
