* {
    margin: 0;
    padding: 0;
}
:root {
    --purple-300: #985eff;
    --light-900: #f5f5f5;
    --grey-100: #c5c5c5;
    --indigo-500: #6366f1;
    --indigo-700: #4338ca;
    --indigo-900: #312e81;
}
nav {
    background-image: linear-gradient(
        to right bottom,
        #ccbcfb,
        #c0a8fd,
        #b593fe,
        #ab7dfe,
        #a166fd
    );
}
.active {
    font-weight: 600;
}
.bg-purple-300 {
    background-color: var(--purple-300);
}
.bg-white {
    background-color: white;
}
.bg-grey-100 {
    background-color: var(--grey-100);
}
.text-grey-100 {
    color: var(--grey-100);
}
.text-purple {
    color: #544ec2;
}
.b-grey-100 {
    border-color: var(--grey-100);
}
.btn-outline-indigo {
    color: var(--indigo-500);
    background-color: transparent;
    background-image: none;
    border-color: var(--indigo-500);
}

.btn-outline-indigo:hover {
    color: #ffffff;
    background-color: var(--indigo-500);
    border-color: var(--indigo-700);
}

.btn-outline-indigo:focus,
.btn-outline-indigo.focus {
    box-shadow: 0 0 0 0.2rem rgba(110, 78, 253, 0.5);
}

.btn-outline-indigo.disabled,
.btn-outline-indigo:disabled {
    color: rgba(110, 78, 253, 0.5);
    background-color: transparent;
}

.btn-outline-indigo:not(:disabled):not(.disabled):active,
.btn-outline-indigo:not(:disabled):not(.disabled).active,
.show > .btn-outline-indigo.dropdown-toggle {
    color: #fff;
    background-color: rgba(110, 78, 253, 0.5);
    border-color: rgba(110, 78, 253, 0.5);
}

.btn-outline-indigo:not(:disabled):not(.disabled):active:focus,
.btn-outline-indigo:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-indigo.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(102, 75, 255, 0.5);
}
.links-h {
    color: black;
    text-decoration: none;
}
.links-h:hover {
    text-decoration: underline;
    color: var(--indigo-900);
}
.btn-outline-none {
    background: none;
    outline: none;
}
.btn-outline-none:active {
    outline: none;
    box-shadow: none;
}
.btn-outline-none:focus {
    outline: none;
    box-shadow: none;
}
.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.red-dot {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    background-color: rgb(197, 0, 0);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.w-250p {
    min-width: 250px !important;
    width: 250px !important;
    max-width: 250px !important;
}

.w-300p {
    min-width: 300px !important;
    width: 300px !important;
    max-width: 300px !important;
}
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}
